<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Registro</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="css/register.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="css/responsive.css">
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
</head>
<body>

<header>
  <!-- header inicio-->
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-9 col-sm-9">
          <nav class="navigation navbar navbar-expand-md navbar-dark ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarEvolve" aria-controls="navbarEvolve" aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarEvolve">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#servicio">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#estilista">Estilistas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contacto">contacto</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col logo_section">
          <div class="full">
            <div class="center-desk">
              <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt="#" /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
          <ul class="email">
            <li><a href="#">Telefono: (+506) 0000-3211</a></li>
            <li><a href="#">Correo: evolvecitas@gmail.com</a></li>
            <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>










<section class="banner_nosotros">
  <div class="carousel-inner-nosotros">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="text-bg-nosotros">


          <div class="box-log">



            <form class="">

              <h2 >Registrar o Iniciar Sesion</h2>

              <h3>Crear una cuenta</h3>

              <div class="input-box">
                <input type="email"placeholder="email">
              </div>

              <div class="input-box">
                <input type="password"placeholder="Password">
              </div>

              <div class="input-box">
                <input type="text"placeholder="first-name">
              </div>

              <div class="input-box">
                <input type="text"placeholder="last-name">
              </div>


              <div class="input-box">
                <input type="email"placeholder="email">
              </div>

              <div class="input-box">
                <input type="text"placeholder="phone-number">
              </div>

              <div class="input-box-date">
                <h3>Fecha de nacimiento </h3>
                <input type="date">


              </div>


              <div class="input-box">

                <button type="submit" class="btn">Registrar</button>

              </div>


            </form>


          </div>


        </div>
      </div>
    </div>
  </div>
</section>


<footer id="contacto">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="row">
            <div class="col-md-7 padd_bottom">
              <div class="heading3">
                <a href="#"><img src="images/logo.png" alt="#" /></a>
                <p>
                  Evolve es un salón de belleza especializado en cuidado capilar que se destaca
                  por ofrecer
                  una amplia gama de servicios de alta calidad.
                  Su misión es realzar la belleza natural de los clientes a través de tratamientos
                  avanzados
                  como el botox capilar y cortes curly personalizados.
                </p>
              </div>
            </div>
            <div class="col-md-5 padd_bottom padd_bott">
              <div class="heading3">
                <h3>Contacto</h3>
                <ul class="informacion">
                  <li><a href="#">Correo</a></li>
                  <li><a href="#">Teléfono</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="row">
            <div class="col-md-6 offset-md-1 padd_bottom">
              <div class="heading3">
                <h3>Información</h3>
                <ul class="informacion">
                  <li><a href="#">Cortes de Cabello </a></li>
                  <li><a href="#">Color</a></li>
                  <li><a href="#">Servicios Capilares</a></li>
                  <li><a href="#">Botox Capilar</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <div class="heading3">
                <h3>Mi Cuenta</h3>
                <ul class="informacion">
                  <li><a href="#">Registrarse </a></li>
                  <li><a href="#">Iniciar Sesión</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>© 2023 Derechos Reservados. <a href="">Evolve</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>



</body>
</html>