----------------------------------------------------------------------Calendario------------------------------------------------------------
.cuadro-beige2 .calendario {
    font-family: Arial, sans-serif;
}

.mes {
    text-align: center;
    margin-bottom: 10px;
}

.mes-nombre {
    font-size: 20px;
    font-weight: bold;
}

.anio {
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    text-align: center;
    padding: 5px;
}

table th {
    background-color: #333;
    color: #fff;
}

table td {
    border: 1px solid #ddd;
}

table td:nth-child(1) {
    color: #f00;
}

table td:nth-child(7) {
    color: #00f;
}
.opciones-hora {
    margin: 10px;
}

.opcion {
    display: inline-block;
    margin: 5px;
}

.opcion button {
    background-color: #F7F4ED
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px; 
    cursor: pointer;
}

.opcion button:focus {
    background-color:#F7F4ED
}
