/*---------------------------------------------------------------------  Colres ---------------------------------------------------------------------*/
/* 
color banner #202126
color beige #F7F4ED
color negro #000000
color cafe #876B62
color cafe claro #8B5C4A
color blando #fff


/*---------------------------------------------------------------------  Fuentes ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');


/*---------------------------------------------------------------------  Archivos para animaciones custom ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- toda la pagina ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding_2 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.light_silver {
    background: #f9f9f9;
}

.theme_bg {
    background: #38c8a8;
}

.margin_top_30 {
    margin-top: 30px !important;
}

.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------- navbar ---------------------------------------------------------------------*/

.navigation.navbar {
    padding-top: 17px !important;
    padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
    padding: 0 10px;
    color: #191919;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
    color: #bc1939;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
    color: #bc1939;
}

.navbar-expand-md .navbar-nav {
    padding-right: 10px;
}

.padd_right {
    padding-right: 10px;
}

.sign_btn {
    padding-left: 50px;
}

.sign_btn a {
    display: inline-block;
    padding: 7px 10px;
    color: #fff;
    font-size: 17px;
}

.sign_btn a:hover {
    color: #fff;
}

ul.email li {
    display: inline-block;
}

ul.email li a {
    padding: 0 8px;
    color: #191919;
    font-size: 17px;
    line-height: 20px;
    padding-top: 17px;
    display: inline-block;
}

.header {
    width: 100%;
    padding: 20px 30px;
    background: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    z-index: 999;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}


/*--------------------------------------------------------------------- banner main ---------------------------------------------------------------------*/

.banner_main {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    padding-top: 190px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.text-bg {
    text-align: left;
    padding-left: 100px;
}

.text-bg h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 140px;
    line-height: 140px;
    padding-bottom: 35px;
    font-weight: bold;
}


.text-bg span {
    text-transform: uppercase;
    color: #fff;
    font-size: 52px;
    line-height: 68px;
    font-weight: 700;
    display: block;
}

.text-bg p {
    line-height: 28px;
    font-weight: 500;
    padding-bottom: 20px;
    display: block;
}


.text_img figure {
    margin: 0;
}

.text_img figure img {
    width: 50%;
}

.carousel-caption {
    position: inherit;
    padding: 0;
}

#banner1 .carousel-indicators {
    display: none;
}

#banner1 .carousel-control-prev {
    left: 0;
}

#banner1 .carousel-control-next {
    right: inherit;
    left: 5%;
}

#banner1 a.carousel-control-next,
#banner1 a.carousel-control-prev {
    opacity: 1;
    top: 100%;
}

#banner1 .carousel-control-next i,
#banner1 .carousel-control-prev i {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: #F7F4ED;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202126;
}

#banner1 .carousel-control-next i:focus,
#banner1 .carousel-control-next i:hover,
#banner1 .carousel-control-prev i:focus,
#banner1 .carousel-control-prev i:hover {
    background: #bc1939;
    color: #fff;
}

.text-bg a {
    font-size: 17px;
    background-color: #F7F4ED;
    color: #202126;
    font-weight: 600;
    padding: 13px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    margin-right: 10px;
}

.text-bg a:hover {
    background-color: #bc1939;
    color: #fff;
    transition: ease-in all 0.5s;
}

/*--------------------------------------------------------------------- MODAL DE PERFIL---------------------------------------------------------------------*/
.modal-title {
    font-size: 20px;
    font-weight: bold;
    color: #202126;
    margin-top: 30px;
    margin-left: 20px;
}

.modal-header {
    border: none;
}

.btn-editar-modal {
    background-color: #202126;
    color: #fff;
    font-weight: bold;
}

.btn-citas-modal {
    background-color: #202126;
    color: #fff;
    font-weight: bold;
}

.btn-editar-modal:hover {
    background-color: #876B62;
    color: #202126;
}

.btn-citas-modal:hover {
    background-color: #876B62;
    color: #202126;
}

.nombre-cliente-modal {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #876B62;
}

.correo-cliente-modal {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: #876B62;

}

.telefono-cliente-modal {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: #876B62;
    margin-bottom: 30px;
}


/*--------------------------------------------------------------------- banner Section Nosotros ---------------------------------------------------------------------*/


.banner_nosotros {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    padding-top: 190px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.text-bg-nosotros {
    text-align: center;
    padding-left: 100px;
}

.text-bg-nosotros h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    line-height: 140px;
    font-weight: bold;
}

.text-bg-nosotros p {
    color: #fff;
    line-height: 28px;
    font-weight: 500;
    padding-bottom: 100px;
    display: block;
}

/*--------------------------------------------------------------------- banner Section Citas ---------------------------------------------------------------------*/

.banner_citas {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    padding-top: 160px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.text-bg-citas {
    text-align: center;
}

.text-bg-citas h1 {
    color: #fff;
    font-size: 40px;
    line-height: 90px;
    font-weight: bold;
    padding-bottom: 30px;
}


/*--------------------------------------------------------------------- Fondo Logueo y registro ---------------------------------------------------------------------*/

.banner_logueo {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    padding-top: 114px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.text-bg-logueo {
    text-align: center;
}


.text-bg-logueo h2 {
    color: #202126;
    font-size: 25px;
    line-height: 90px;
    font-weight: bold;
}

/*--------------------------------------------------------------------- banner Section Servicios ---------------------------------------------------------------------*/


.banner_servicios {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    padding-top: 130px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.text-bg-servicios {
    text-align: left;
    padding-left: 100px;
}

.text-bg-servicios h1 {
    color: #fff;
    font-size: 45px;
    line-height: 125px;
    font-weight: bold;
}


/*--------------------------------------------------------------------- Servicio section nuestros servicios botox cap, color, cortes, servicios capilares ---------------------------------------------------------------------*/


.titulo_servicio {
    text-align: center;
    padding-bottom: 60px;
}

.titulo_servicio h2 {
    font-size: 40px;
    color: #202126;
    line-height: 55px;
    font-weight: 800;
    padding: 0;
}

.titulo_servicio h2 img {
    padding-bottom: 20px;
}

.nuestro_servicio {
    padding: 90px 0;
    background: #fff;
}

.nuestro_servicio_box {
    background: rgba(223, 221, 215, 100%);
    text-align: center;
    padding: 100px 20px 75px 20px;
    border: #e9e9e9 solid 1px;
    transition: ease-in all 0.5s;
    margin-bottom: 30px;
}

.nuestro_servicio_box h3 {
    color: #202126;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 25px;
    transition: ease-in all 0.5s;
}

.nuestro_servicio_box p {
    font-size: 17px;
    line-height: 27px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #2e2e2e;
    transition: ease-in all 0.5s;
}

.boton {
    display: flex;
    align-items: center;
    background-color: #202126;
    width: 180px;
    height: 50px;
    margin: 0 auto;
}

.boton .citas_servicio_icono i {
    text-align: center;
    font-size: 30px;
    background-color: #F7F4ED;
    color: #202126;
    padding: 10px 25px;
}

.boton .citas_servicio_text a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
}


.boton:hover {
    background: #bc1939;
    color: #f9f9f9;
    transition: ease-in all 0.5s;
}

/*---------------------------------------------------------------------  Section Servicios ---------------------------------------------------------------------*/

.titulo {
    text-align: center;
    padding-bottom: 60px;
}

.titulo h2 {
    font-size: 40px;
    color: #202126;
    line-height: 55px;
    font-weight: 800;
    padding: 0;
}

.titulo h2 img {
    padding-bottom: 20px;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.blu {
    color: #0808ff;
}

.leer_mas {
    font-size: 17px;
    background-color: #F7F4ED;
    color: #202126 !important;
    padding: 13px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    font-weight: 500;
}

.leer_mas:hover {
    background: #bc1939;
    color: #fff;
    border-radius: 20px;
    transition: ease-in all 0.5s;
}


.servicio {
    padding: 90px 0;
    background: #fff;
}

.servicio_box {
    background: #fff;
    text-align: center;
    padding: 50px 20px 25px 20px;
    border: #e9e9e9 solid 1px;
    transition: ease-in all 0.5s;
    margin-bottom: 30px;
}

.servicio_box h3 {
    color: #202126;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 25px;
    transition: ease-in all 0.5s;
}

.servicio_box p {
    font-size: 17px;
    line-height: 27px;
    color: #2e2e2e;
    transition: ease-in all 0.5s;
}

.servicio_box i {
    padding-bottom: 10px;
    display: block;
}

#hover_servicio:hover.servicio_box {
    background: #bc1939;
    transition: ease-in all 0.5s;
    border-radius: 20px;
    cursor: pointer;
}

#hover_servicio:hover.servicio_box h3 {
    color: #fff;
    transition: ease-in all 0.5s;
}

#hover_servicio:hover.servicio_box p {
    color: #fff;
    transition: ease-in all 0.5s;
}

.servicio .leer_mas {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

/*---------------------------------------------------------------------  Section Sobre Nosotros ---------------------------------------------------------------------*/

.about {
    background: url(../images/about_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .titulo {
    text-align: left;
    padding-bottom: 0;
}

.about .titulo h2 {
    color: #fff;
}

.about .titulo p {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .titulo .leer_mas:hover {
    background: #bc1939;
    color: #F7F4ED !important;
}


.modern-about-us {
    padding: 20px;
    color: #543b34; 
    border-radius: 15px; 
}

.modern-about-us h2 {
    color: #8b5c4a; 
    font-size: 24px;
    margin-bottom: 10px; 
}

.modern-about-us p {
    color: #333; 
    line-height: 1.6; 
    font-size: 16px; 
    margin-bottom: 20px; 
}


/*---------------------------------------------------------------------  Section Estilistas ---------------------------------------------------------------------*/


.estilista {
    padding: 90px 0px 90px 0px;
    background: #fff;
}

.estilista .titulo p {
    color: #141629;
    line-height: 28px;
    font-weight: 500;
    font-size: 17px;
    padding-top: 20px;
}

.estilista_Carousel .carousel-caption {
    position: inherit;
    padding: 0;
}

.estilista_box {
    text-align: center;
}

.estilista_Carousel .persona_box h4 {
    font-size: 24px;
    color: #202126;
    line-height: 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 40px 0px 10px 0px;
}

.estilista_Carousel .persona_box span {
    color: #bc1939;
    display: block;
    font-size: 17px;
    padding-bottom: 20px;
}

.estilista_Carousel .persona_box i {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: -12px;
    padding-right: 20px;
}

.estilista_Carousel .persona_box p {
    font-size: 17px;
    line-height: 28px;
    color: #1d1b28;
    margin-bottom: 30px;
}

#myCarousel .carousel-indicators {
    display: none;
}

#myCarousel .carousel-control-next,
#myCarousel .carousel-control-prev {
    opacity: 1;
}

#myCarousel .carousel-control-next i,
#myCarousel .carousel-control-prev i {
    width: 60px;
    height: 60px;
    background: #F7F4ED;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1d1b28;
}

#myCarousel .carousel-control-next i:focus,
#myCarousel .carousel-control-next i:hover,
#myCarousel .carousel-control-prev i:focus,
#myCarousel .carousel-control-prev i:hover {
    background: #876B62;
    color: #1d1b28;
}



/*---------------------------------------------------------------------  Section contacto ---------------------------------------------------------------------*/

.contacto {
    background: url(../images/contact.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 90px 0;
}

.contacto .titulo h2 {
    color: #080707;
}

.white {
    color: #fff;
}

#map {
    height: 100%;
    min-height: 432px;
}

/*---------------------------------------------------------------------  Footer ---------------------------------------------------------------------*/

.footer {
    background: #F7F4ED;
    padding-top: 85px;
    text-align: center;
}

.footer .titulo {
    text-align: left;
    padding-bottom: 0px;
}

.footer .titulo h2 {
    color: #0c0a0a;
    margin: inherit;
    border-bottom: #F7F4ED solid 1px;
}

.heading3 {
    text-align: left;
}

.heading3 h3 {
    text-transform: uppercase;
    color: #242424;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.heading3 img {
    padding-bottom: 9px;
}

.heading3 p {
    color: #242424;
    font-size: 17px;
    padding-right: 10px;
}

ul.informacion li a {
    color: #242424;
    font-size: 17px;
}

ul.informacion li a:hover {
    color: #bc1939;

}

.copyright {
    background: #202126;
    margin-top: 70px;
    padding: 20px 0px;
}

.copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: #bc1939;
}